<template>
  <div class='w-full h-full flex overflow-y-hidden'>
    <sidebar/>
    <table-files />
  </div>

</template>

<script setup>
import Sidebar from '@/components/Sidebar.vue';
import TableFiles from '@/components/tableFiles.vue';

</script>
