<template>
  <div
    @dblclick="openFileByPath(file.path, file.isDir)"
    class='card-item p-3 cursor-pointer card-grid grid'
    @contextmenu="filesStore.setFilePath(file.name)"
  >
    <div class='flex card-item'>
      <div class='icons mr-3 card-item'>
        <folder v-if='file.isDir'/>
        <file v-else/>
      </div>
      <div class="card-item">
        {{file.name}}
      </div>
    </div>
    <div class='create-time card-item'>
      {{file.time}}
    </div>
    <div class='cart-type card-item'>
      {{file.extension}}
    </div>
    <div class='cart-size card-item'>
      {{file.size > 0 ? `${file.size} МБ` : ''}}
    </div>
  </div>
</template>
<script setup>
import {defineProps} from 'vue'
import Folder from '@/icons/folder.vue';
import File from '@/icons/file.vue';
import {getUserDirectoriesByPath, openFile} from "@/api/filesApi.js";
import {useFileStore} from "@/store/fileStore.js";
const filesStore = useFileStore();

const props = defineProps({
  file: {
    type: Object,
    required: true,
    default: () => ({
      name: '',
      path: '',
      isDir: false,
      time: '',
      extension: '',
      size: '',
    })
  }
})

const openFileByPath = async (path, isDirectory) => {
  try {
    if (isDirectory) {
      const files = await getUserDirectoriesByPath(path);
      filesStore.setFiles(files.directories);
      filesStore.setPath(path);
    } else {
      await openFile(path)
    }
  } catch (e) {
    console.log('Ошибка', e)
  }

}
</script>

<style scoped>
.card-grid {
  grid-template-columns: 2fr repeat(3, 1fr);
  min-width: 500px;
  grid-gap: 10px;
  margin-top: 5px;
  margin-bottom: -3px;
}

.card-grid:hover {
  background: rgba(204, 204, 204, 0.5);
  border-radius: 5px;
}
</style>
