<template>
  <div class="context-menu context-menu__window" :style="{left: `${cord.x}px`, top: `${cord.y}px`}">
    <div class="context-menu opacity-70 text-sm p-2">Выберите опцию:</div>
    <div class="context-menu" v-if="isDir">
      <div class="context-menu px-3 context-menu__item cursor-pointer" @click="createFolder(true)">
        Создать папку
      </div>
      <div class="context-menu p-3 cursor-pointer" @click="createFolder(false)">
        Создать файл
      </div>
    </div>
    <div class="context-menu" v-else>
      <div class="context-menu px-3 context-menu__item cursor-pointer" @click="deletedFile">
        Удалить
      </div>
      <div class="context-menu p-3 cursor-pointer" @click="editFile">
        Редактировать
      </div>
    </div>
  </div>
</template>

<script setup>
import {defineProps} from "vue";
import {useFileStore} from "@/store/fileStore.js";
import {deleteDirectory, deleteFile, getUserDirectoriesByPath} from "@/api/filesApi.js";

const filesStore = useFileStore();

const props = defineProps({
  cord: {
    type: Object,
    required: true,
    default: () => ({
      x: 0,
      y: 0
    })
  },
  isDir: {
    type: Boolean,
    required: true,
    default: () => false,
  },
})
const emit = defineEmits(['closeContextMenu'])
const createFolder = (createDir) => {
  filesStore.setOpenModalCreated(true);
  filesStore.setIsDir(createDir);
  emit('closeContextMenu');
}
const editFile = () => {
  filesStore.setOpenModalCreated(true);
  filesStore.setEditMode(true);
  emit('closeContextMenu');

}

const deletedFile = async () => {
  try {
    const newPath = `${filesStore.path}\\${filesStore.filePath}`
    if (isDirectory(filesStore.filePath)) {
      await  deleteDirectory(newPath)
    } else {
      await deleteFile(newPath)
    }
    const files = await getUserDirectoriesByPath(filesStore.path);
    filesStore.setFiles(files.directories);
    filesStore.setFilePath('')
    emit('closeContextMenu');
  } catch (e) {
    console.log(e)
  }
}

const isDirectory = (name) => {
  const extensionRegex = /\.[^.]+$/
  const hasExtension = extensionRegex.test(name)
  return !hasExtension;
}
</script>

<style scoped>
.context-menu__window {
  background-color: white;
  position: absolute;
  width: 250px;
  border-radius: 5px;
  box-shadow: 1px 4px 62px -2px rgba(0,0,0,0.35);
  border: 1px solid #ccc;
}

.context-menu__item {
  border-bottom: 1px solid #ccc;
}

.context-menu {

}
</style>
