<template>
  <div class='default-links w-full'>
    <div
      @dblclick='getFiles(dir.dir)'
      v-for='dir in defaultDirs' :key='dir.dir'
      class='cad-item p-3 cursor-pointer card-grid grid'
    >
      <div class='flex'>
        <div class='icons mr-3'>
          <folder v-if='dir.isDir'/>
          <file v-else/>
        </div>
        <div>
          {{dir.name}}
        </div>
      </div>
      <div class='create-time'>
      </div>
      <div class='cart-type'>
        {{dir.extension}}
      </div>
      <div class='cart-size'>
      </div>
    </div>
  </div>

</template>
<script setup>
import { defaultLinks } from '@/shared/defaultLinks.js';
import Folder from '@/icons/folder.vue';
import File from '@/icons/file.vue';
import { getUserDirectories } from '@/api/filesApi.js';
import { useFileStore } from '@/store/fileStore.js';
const filesStore = useFileStore();
const defaultDirs = defaultLinks

const getFiles = async (directory) => {
  try {
    const files = await getUserDirectories(directory);
    filesStore.setFiles(files.directories)
  } catch (err) {
    console.log(err);
  }
}
</script>

<style scoped>
.card-grid {
  grid-template-columns: 2fr repeat(3, 1fr);
  min-width: 500px;
  grid-gap: 10px;
  margin-top: 5px;
  margin-bottom: -3px;
}

.card-grid:hover {
  background: rgba(204, 204, 204, 0.5);
  border-radius: 5px;
}
</style>
