<template>
  <div class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50" @click.self="closeModal">
    <div class="bg-white rounded-lg p-8 relative">
      <button @click="closeModal"
              class="absolute top-0 right-0 mt-2 mr-2 text-gray-600 hover:text-gray-800 focus:outline-none">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      <div>Введите название {{filesStore.isDir ? 'Папки' : 'Файла'}}:</div>
      <input type="text" class="border border-gray-400 p-2 mb-4 w-full" placeholder="Введите что-то" v-model="itemName">
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded float-right" @click="submitHandler">
        Создать
      </button>
    </div>
  </div>
</template>

<script setup>
import {useFileStore} from "@/store/fileStore.js";
import {onMounted, ref} from "vue";
import {createDir, getUserDirectoriesByPath, createFile, renameFile} from "@/api/filesApi.js";

const itemName = ref('')
const filesStore = useFileStore();
const closeModal = () => {
  filesStore.setOpenModalCreated(false)
  filesStore.setIsDir(false);
}

const submitHandler = () => {
  if (filesStore.isEditMode) {
    editItem();
  } else {
    createItem();
  }
}

const editItem = async () => {
  try {
    const filePath = [
      `${filesStore.path}\\${filesStore.filePath}`,
      `${filesStore.path}\\${itemName.value}`
    ]
    await renameFile(filePath)
    const files = await getUserDirectoriesByPath(filesStore.path);
    filesStore.setFiles(files.directories);
    filesStore.setFilePath('')
    closeModal();
  } catch (e) {
    console.log(e)
  }
}

onMounted(() => {
  if (filesStore.isEditMode) {
    itemName.value = filesStore.filePath;
  }
})

const createItem = async () => {
  try {
    const newPath = `${filesStore.path}\\${itemName.value}`
    if (filesStore.isDir) {
      await createDir(newPath);
    } else {
      await createFile(newPath);
    }
    const files = await getUserDirectoriesByPath(filesStore.path);
    filesStore.setFiles(files.directories);
    closeModal();
  } catch (e) {
    console.log(e)
  }
}

</script>
