<template>
  <ul class="menu bg-base-200 w-56 h-full">
    <li class="menu-title cursor-pointer" @click='clearFiles'>File manager</li>
    <li v-for='link in links' :key='link.dir' @click='getFiles(link.dir)'><a>{{ link.name }}</a></li>
  </ul>
</template>

<script setup>
import { defaultLinks } from '@/shared/defaultLinks.js';
import { getUserDirectories } from '@/api/filesApi.js';
import { useFileStore } from '@/store/fileStore.js';
const filesStore = useFileStore();
const links = defaultLinks

const clearFiles = () => {
  filesStore.setFiles([])
}

const getFiles = async (directory) => {
  try {
    const files = await getUserDirectories(directory);
    filesStore.setFiles(files.directories)
  } catch (err) {
    console.log(err);
  }
}
</script>
