<template>
  <div class='mx-3 w-full overflow-auto'>
    <div class='table-header grid'>
      <div class='font-bold text-md'>Имя</div>
      <div class='font-bold text-md'>Дата создания</div>
      <div class='font-bold text-md'>Тип</div>
      <div class='font-bold text-md'>Размер</div>
    </div>
    <default-links v-if='filesStore.files.length === 0'/>
    <div ref="container" class='w-full h-full relative' v-else @contextmenu="handleClick" @click="closeContextMenu">
      <card v-for='file in filesStore.files' :key='file.name' :file='file' class="card-item">
      </card>
      <context-menu v-if="isOpenContextMenu" @closeContextMenu="isOpenContextMenu = false" :cord="contextMenuPosition" :isDir="isDirectory" />
    </div>
    <modal v-if="filesStore.openModalCreated"/>
  </div>

</template>

<script setup>
import DefaultLinks from '@/components/defaultLinks.vue';
import { useFileStore } from '@/store/fileStore.js';
import Card from '@/components/Card.vue';
import {ref} from "vue";
import ContextMenu from "@/components/ContextMenu.vue";
import Modal from "@/components/Modal.vue";

const filesStore = useFileStore();
const contextMenuPosition = ref({x: 0, y: 0})
const container = ref(null);
const isOpenContextMenu = ref(false);
const isDirectory = ref(false);

const closeContextMenu = (event) => {
  const clickedElement = event.target;
  isDirectory.value = false;
  if (!clickedElement.classList.contains('context-menu')) isOpenContextMenu.value = false;
}
const handleClick = (event) => {
  event.preventDefault();
  isOpenContextMenu.value = true;
  const clickedElement = event.target;
  if (!clickedElement.classList.contains('card-item')) {
    isDirectory.value = true;
    filesStore.setFilePath('')
  } else {
    isDirectory.value = false;
  }
  const rect = container.value.getBoundingClientRect();
  contextMenuPosition.value = {x: event.clientX - rect.left, y: event.clientY - rect.top}
}
</script>

<style scoped>
.table-header {
  grid-template-columns: 2fr repeat(3, 1fr);
  min-width: 500px;
  grid-gap: 10px;
  margin-top: 5px;
  border-bottom: 1px solid;
  margin-bottom: -3px;
}

</style>
